<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jedi</title>
</head>
<body>

   <div th:if="${message}" th:text="${message}" th:class="${'alert '+ alertClass}"></div>

    <h1>Jedi Forces</h1>

    <table>
        <tr>
            <th>ID</th>
           <th>NAME</th>
           <th>LASTNAME</th>
        </tr>

        <tr th:each="jedi : ${allJedi}">
            <td th:text="${jedi.id}"></td>
           <td th:text="${jedi.name}"></td>
            <td th:text="${jedi.lastName}"></td>
        </tr>
    </table>
<br>
    <a href="#" th:href="@{/newJedi}">New Jedi</a>

</body>
</html>